@use "../config";

.account-data-form-1__fields-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;

    @media (min-width: config.$breakpoint-md) {
        gap: 1.6rem;
    }
}

.account-data-form-1__form-field {
    grid-column: span 2;

    @media (min-width: config.$breakpoint-md) {
        &.half-width {
            grid-column: span 1;
        }
    }
}

.account-data-form-1__form-submit {
    margin-top: 2.7rem;
}
