@use "../config";

.content-3__container {
    --container-padding: 2.7rem;

    @media (min-width: config.$breakpoint-md) {
        --container-padding: 4.4rem;
    }
}

.content-3__item {
    --col-num: 1;
    --col-gap: 1.4rem;
    --row-gap: 0rem;
    display: grid;
    grid-template-columns: repeat(var(--col-num), 1fr);
    column-gap: var(--col-gap);
    row-gap: var(--row-gap);

    @media (min-width: config.$breakpoint-md) {
        --col-num: 2;

        &--reverse .content-3__item-content-wrapper {
            order: 2;
        }

        &--reverse .content-3__item-image-wrapper {
            order: 1;
        }
    }
}

.content-3__item + .content-3__item {
    margin-top: 2.5rem;

    @media (min-width: config.$breakpoint-md) {
        margin-top: 1.6rem;
    }
}

.content-3__item-content-wrapper {
    padding: 2.5rem 2.5rem 5.5rem;
    color: config.$color-white;
    background-color: config.$color-emerald-500;

    @media (min-width: config.$breakpoint-md) {
        padding: 4.4rem 4.4rem 8.4rem;
    }

    @media (min-width: config.$breakpoint-lg) {
        padding: 8rem 8rem 12rem;
    }

    @media (min-width: config.$breakpoint-xl) {
        padding: 10rem 10rem 19rem;
    }
}

.content-3__item-content {
    max-width: 38rem;
}

.content-3__item-title {
    margin-bottom: 2rem;

    @media (min-width: config.$breakpoint-md) {
        margin-bottom: 3.5rem;
    }
}

.content-3__item-image-wrapper {
    position: relative;
    padding-bottom: 80%;
}

.content-3__item-image {
    position: absolute;
    inset: 0;
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
}
