@use "../config";

.description-list-1 {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2.3rem;

    @media (min-width: config.$breakpoint-md) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3rem;
    }

    @media (min-width: config.$breakpoint-lg) {
        gap: 6rem;
    }
}

.description-list-1__title {
    font-size: 1.4rem;
    font-weight: 700;

    @media (min-width: config.$breakpoint-md) {
        font-size: 1.8rem;
    }
}

.description-list-1__text {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 400;

    @media (min-width: config.$breakpoint-md) {
        font-size: 1.8rem;
    }
}
