// partially converted to css modules:
//      - src/app/components/AvailabilityForm/availability-form.module.css
//      - src/app/[locale]/destination/[slug]/components/destination-form.module.css

@use "../config";

.destination-mobile-nav {
    --container-padding: 2rem;
    position: sticky;
    top: 0;
    padding: 1.8rem 0;
    box-shadow: 0 0.3rem 0.6rem hsla(0, 0%, 0%, 0.16);
    background-color: config.$color-white;
    z-index: 2;

    @media (min-width: config.$breakpoint-lg) {
        display: none;
    }
}

.destination-mobile-nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.destination-mobile-nav__dates-selection {
    font-size: 1.2rem;
    margin-bottom: 0;
}

.destination-mobile-nav__date-button {
}
