@use "../config";

.feature-section-3 {
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;

    @media (min-width: config.$breakpoint-sm) {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }

    @media (min-width: config.$breakpoint-md) {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    @media (min-width: config.$breakpoint-xl) {
        padding-top: 14rem;
        padding-bottom: 14rem;
    }
}

.feature-section-3__wrapper {
    display: grid;
    gap: 3.6rem;
    grid-template-columns: 1fr;

    @media (min-width: config.$breakpoint-xl) {
        gap: 14rem;
        grid-template-columns: 5fr 4fr;
    }
}

.feature-section-3__features-price-description {
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-width: 0.2rem 0;
    border-style: solid;
    border-color: config.$color-gray-200;
    border-bottom: 0;
}

.feature-section-3__features-text-grid {
    display: grid;
    grid-template-columns: 160px 1fr;
    align-items: center;
    padding-block: 0.5rem;

    @media (min-width: config.$breakpoint-sm) {
        grid-template-columns: 200px 1fr;
        column-gap: 0.5rem;
    }
}

.feature-section-3__features-text-primary,
.feature-section-3__features-text-secondary {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;

    @media (min-width: config.$breakpoint-sm) {
        font-size: 1.8rem;
    }
}

.feature-section-3__features-text-price {
    font-size: 3rem;
    margin: 0;
}

.feature-section-3__features-text-secondary {
    color: config.$color-gray-400;
}

.feature-section-3__features-wrapper {
    padding-top: 3.6rem;
    padding-bottom: 3.6rem;
    border-width: 0.1rem 0;
    border-style: solid;
    border-color: config.$color-gray-300;
    display: grid;
    row-gap: 4rem;
    column-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 4rem;

    @media (min-width: config.$breakpoint-md) {
        padding-top: 6rem;
        padding-bottom: 6rem;
        column-gap: 4rem;
    }

    @media (min-width: config.$breakpoint-xl) {
        grid-template-columns: 1fr;
        row-gap: 1.7rem;
    }
}

.feature-section-3__feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2.3rem;

    @media (min-width: config.$breakpoint-lg) {
        display: grid;
        grid-template-columns: auto 1fr;
        text-align: left;
        gap: 2.7rem;
    }
}

.feature-section-3__feature-icon-wrapper {
    border-radius: 50%;
    width: 10rem;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: config.$color-amber-200;
}

.feature-section-3__feature-icon {
    display: block;
    width: auto;
    height: 4rem;
}

.feature-section-3__feature-title {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;

    @media (min-width: config.$breakpoint-lg) {
        font-size: 1.8rem;
    }
}

.feature-section-3__feature-text {
    display: none;

    @media (min-width: config.$breakpoint-lg) {
        display: block;
    }
}

.feature-section-3__features-notes {
    font-style: italic;
    color: config.$color-gray-400;
}