@use "../config";

.gift-card-overview-3__item {
    padding: 2.7rem 0;
    border-bottom: 0.1rem solid config.$color-gray-300;

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
    }

    @media (min-width: config.$breakpoint-md) {
        padding: 3.4rem 0;
    }
}

.gift-card-overview-3__item-title {
    font-size: 1.4rem;
    font-weight: 700;

    @media (min-width: config.$breakpoint-md) {
        font-size: 1.8rem;
        margin-bottom: 1em;
    }
}

.gift-card-overview-3__item-num-nights {
    font-size: 1.4rem;

    @media (min-width: config.$breakpoint-md) {
        font-size: 1.8rem;
    }
}
