@use "../config";

.new-password {
    background-color: config.$color-gray-100;
    padding-bottom: 3rem;

    @media (min-width: config.$breakpoint-lg) {
        min-height: 100svh;
        box-sizing: border-box;
    }
}

.new-password__logo {
    margin-bottom: 5rem;

    @media (min-width: config.$breakpoint-lg) {
        margin-bottom: 8rem;
    }
}

.new-password__form-title {
    text-align: center;
    color: config.$color-emerald-700;
    margin-bottom: 2rem;

    @media (min-width: config.$breakpoint-lg) {
        margin-bottom: 4rem;
    }
}

.new-password__form {
    background-color: config.$color-white;
    padding: 3rem;
    max-width: 67rem;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: config.$breakpoint-lg) {
        padding: 8rem;
    }
}

.new-password__form-sent {
    padding-top: 2rem;
    padding-bottom: 10rem;
}

.new-password__fields-grid {
    display: grid;
    gap: 1.2rem;
    margin-bottom: 3rem;

    @media (min-width: config.$breakpoint-md) {
        gap: 1.6rem;
        margin-bottom: 3.4rem;
    }
}
