@use "../config";

.password-recovery__header {
    @media (min-width: config.$breakpoint-sm) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
}

.password-recovery__close-mobile {
    @media (min-width: config.$breakpoint-sm) {
        display: none;
    }
}

.password-recovery__close-desktop {
    display: none;

    @media (min-width: config.$breakpoint-sm) {
        display: block;
    }
}

.password-recovery__form-header {
    margin-bottom: 4rem;
}

.password-recovery__form-title {
    margin-bottom: 1rem;
}

.password-recovery__form-description {
    font-size: 1.4rem;
    margin-bottom: 0;
}

.password-recovery__form-errors {
    color: config.$color-red-600;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.password-recovery__form-fields {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    margin-bottom: 3rem;
}
