@use "../config";

.password-form-1 {
    max-width: 62rem;
}

.password-form-1__form-notes {
    margin-top: 2.4rem;
    font-size: 1.4rem;
    margin-bottom: 0;

    @media (min-width: config.$breakpoint-md) {
        font-size: 1.8rem;
    }
}
