.embla {
    --slide-spacing: 0rem;
    --slide-size: 100%;
    overflow: hidden;
    outline: none;
}

.embla__container {
    display: flex;
    margin-left: calc(-1 * var(--slide-spacing));
}

.embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    box-sizing: border-box;
}

.embla__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.embla__dot {
    border-radius: 0.3rem;
    width: 0.6rem;
    height: 0.6rem;
    background-color: currentColor;
    transition: width 300ms;

    &--selected {
        width: 1.8rem;
    }
}
